<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
    <title>Delete Course</title>
</head>

<body>
    <section class="visit-card">
        <h2 class="vc-title">Are you sure to delete this dish?</h2>
        <form class="vc-form" action="{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = item.id)}}"
            method="post">
            <span class="item-name">{{ item.name }}</span>
            <span class="item-price">{{ item.price }}</span>
            <span class="item-course">- {{ item.course }}</span>
            <span class="item-description">{{ item.description }}</span>
            <input class="vc-buttons vc-confirm" type="submit" value="Confirm">
        </form>
        <a class="vc-buttons vc-cancel" href="{{url_for('showMenu', restaurant_id = restaurant_id)}}">Cancel</a>
    </section>
</body>

</html>