{% extends "main.html" %}
{% block content %}
<section class="visit-card">
    <h2 class="vc-title vc-title-center">{{restaurant.name}}</h2>
    <form action="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}" method="post">
        <input class="item-name vc-input-center" type="text" name="name" placeholder="new name">
        <input class="vc-buttons vc-confirm" type="submit" value="Confirm">
    </form>
    <a class="vc-buttons vc-cancel" href="{{url_for('showRestaurants')}}">Cancel</a>
</section>
{% endblock %}