<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
    <title>Edit Course</title>
</head>

<body>
    <section class="visit-card">
        <form class="vc-form vc-edit" action="{{url_for('newRestaurant')}}" method="post">
            <input class="item-name vc-input-center" type="text" maxlength="250" name="name" placeholder="Name" required>
            <input class="vc-buttons vc-confirm" type="submit" value="Confirm">
        </form>
        <a class="vc-buttons vc-cancel" href="{{url_for('showRestaurants')}}">Cancel</a>
    </section>
</body>

</html>