{% extends "main.html" %}
{% block content %}
    <section class="visit-card">
        <form class="vc-form vc-edit" action="{{url_for('newRestaurant')}}" method="post">
            <input class="item-name vc-input-center" type="text" maxlength="250" name="name" placeholder="Name" required>
            <input class="vc-buttons vc-confirm" type="submit" value="Confirm">
        </form>
        <a class="vc-buttons vc-cancel" href="{{url_for('showRestaurants')}}">Cancel</a>
    </section>
{% endblock %}