{% extends "main.html" %}
{% block content %}

<section class="big-menu">
    <h1 class="title">{{restaurant.name}}</h1>
    <div class="bar"></div>
    {% include 'messages.html' %}
    <nav class="nav-container">
        <span class="nav-item">
            <a href="{{url_for('showRestaurants')}}">Restaurants</a>
        </span>
        <span class="nav-item">
            <a href="{{url_for('login')}}">Login</a>
        </span>
    </nav>
    {% for item in menu %}
    <div class="restaurant-container item-container">
        <p class="restaurant-list">
            <span class="item-name">{{ item.name }}</span>
            <span class="item-price">{{ item.price }}</span>
            <span class="item-course">- {{ item.course }}</span>
            <span class="item-description">{{ item.description }}</span>
        </p>
    </div>
    {% endfor %}
</section>
{% endblock %}