{% extends "main.html" %}
{% block content %}
<section class="big-menu">
    <h1 class="title">Restaurants</h1>
    <div class="bar"></div>
    {% include 'messages.html' %}
    <nav class="nav-container">
        <span class="nav-item">
            <a href="{{url_for('login')}}">Login</a>
        </span>
    </nav>
    {% for restaurant in restaurants %}
    <div class="restaurant-container">
        <p class="restaurant-list">
            <a class="item-name" href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">
                {{ restaurant.name[:25] }}
                {% if  restaurant.name|length > 25 %}
                ...
                {% endif %}
            </a>
        </p>
    </div>
    {% endfor %}
</section>
{% endblock %}