<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurants</title>
</head>

<body>
    <div>
        <a href="{{url_for('newRestaurant')}}">New Restaurant</a>
    </div>
    {% for restaurant in restaurants %}
    <div>
        <p>
            <a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">X</a>
            <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}" >{{ restaurant.name }}</a>
            <a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a>
        </p>

    </div>
    {% endfor %}
</body>

</html>