<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
    <title>Restaurants</title>
</head>

<body>
    <section class="big-menu">
        <h1 class="title">Restaurants</h1>
        <div class="bar"></div>
        <nav class="nav-container">
            <span class="nav-item">
                <a href="{{url_for('newRestaurant')}}">add Restaurant</a>
            </span>
        </nav>
        {% for restaurant in restaurants %}
        <div class="restaurant-container">
            <p class="restaurant-list">
                <a class="delete-button" href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">X</a>
                <a class="item-name" href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">
                    {{ restaurant.name[:25] }}
                    {% if  restaurant.name|length > 25 %}
                        ...
                    {% endif %}
                    </a>
                <a class="edit-button" href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a>
            </p>
        </div>
        {% endfor %}
    </section>
</body>

</html>